<header class="header">
  <ul>
    <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
    <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
    <li><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
    <li><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
  </ul>
  <nav>
    <a href="../index.html"
      ><img src="../img/vite-logo.png" alt="logo" width="50"
    /></a>

    <ul>
      <li><a href="../page-2.html">Пультова охорона</a></li>
      <li><a href="../page-3.html">Системи відеонагляду</a></li>
      <li><a href="../page-4.html">Пожежна сигналізация</a></li>
    </ul>
  </nav>
</header>
